<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <img src={{album.images.1.url}} alt={{album.artist}}>
      <h3>{{album.name}}</h3>
      <p>{{album.simpleArtists}}</p>
      {{album.year}}
    </header>
    <ul>
      {{#each album.simpleTracks}}
        <li>{{track_number}} - {{track_name}}</li>
        <li><input id="{{track_name}}" type="text" placeholder="{{track_name}}"></li>
      {{/each}}
    </ul>
    <small>{{album.label}}</small>
  </body>
</html>
